.register {
    padding-top: 20px;
    text-align: center;
}

#register-submit {
    background-color: #6FB84F
}

#emailHelp {
    text-align: left;
    padding-left: 13px;
}

.invalid-feedback {
    text-align: left;
    padding-left: 13px;
}
